In [50]:
DATA_PATH = r"/Users/huxue/Documents/GitHub/coupon_pred/data/raw"
TEST_FILE = r'/ccf_offline_stage1_test_revised.csv'
TRAIN_OFF_FILE = r'/ccf_offline_stage1_train.csv'
TRAIN_ON_FILE = r'/ccf_online_stage1_train.csv'
SAMPLE_FILE = r"/sample_submission.csv"

import pandas as pd
import os
from datetime import date
import math

print(os.path.exists(DATA_PATH))
print(os.path.exists(DATA_PATH+TRAIN_OFF_FILE))
print(os.path.exists(DATA_PATH+TRAIN_ON_FILE))
print(os.path.exists(DATA_PATH+SAMPLE_FILE))

True
True
True
True

In [61]:
def int2datetime(x):
    if math.isnan(x):
        return date(1000, 1, 1)
    y = int(x/10000)
    m = int(x%10000/100)
    d = int(x%100)
    return date(y, m, d)
def convert_datetime(df):  
    df['Date_received'] = df['Date_received'].apply(int2datetime) 
    df['Date'] = df['Date'].apply(int2datetime)

In [67]:
offline_df = pd.read_csv(DATA_PATH+TRAIN_OFF_FILE)
convert_datetime(offline_df)
offline_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1754884 entries, 0 to 1754883
Data columns (total 7 columns):
User_id          int64
Merchant_id      int64
Coupon_id        float64
Discount_rate    object
Distance         float64
Date_received    object
Date             object
dtypes: float64(2), int64(2), object(3)
memory usage: 93.7+ MB

In [68]:
offline_df.head()

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
0,1439408,2632,NaN,NaN,0.0,1000-01-01,2016-02-17
1,1439408,4663,11002.0,150:20,1.0,2016-05-28,1000-01-01
2,1439408,2632,8591.0,20:1,0.0,2016-02-17,1000-01-01
3,1439408,2632,1078.0,20:1,0.0,2016-03-19,1000-01-01
4,1439408,2632,8591.0,20:1,0.0,2016-06-13,1000-01-01

In [64]:
online_df = pd.read_csv(DATA_PATH+TRAIN_ON_FILE)
convert_datetime(online_df)
online_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11429826 entries, 0 to 11429825
Data columns (total 7 columns):
User_id          int64
Merchant_id      int64
Action           int64
Coupon_id        object
Discount_rate    object
Date_received    object
Date             object
dtypes: int64(3), object(4)
memory usage: 610.4+ MB

In [65]:
online_df.head()

,User_id,Merchant_id,Action,Coupon_id,Discount_rate,Date_received,Date
0,13740231,18907,2,100017492,500:50,2016-05-13,1000-01-01
1,13740231,34805,1,NaN,NaN,1000-01-01,2016-03-21
2,14336199,18907,0,NaN,NaN,1000-01-01,2016-06-18
3,14336199,18907,0,NaN,NaN,1000-01-01,2016-06-18
4,14336199,18907,0,NaN,NaN,1000-01-01,2016-06-18

In [69]:
test_df = pd.read_csv(DATA_PATH+TEST_FILE)
test_df['Date_received'] = test_df['Date_received'].apply(int2datetime)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113640 entries, 0 to 113639
Data columns (total 6 columns):
User_id          113640 non-null int64
Merchant_id      113640 non-null int64
Coupon_id        113640 non-null int64
Discount_rate    113640 non-null object
Distance         101576 non-null float64
Date_received    113640 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 5.2+ MB

In [70]:
test_df.head()

   User_id  Merchant_id  Coupon_id Discount_rate  Distance Date_received
0  4129537          450       9983          30:5       1.0    2016-07-12
1  6949378         1300       3429          30:5       NaN    2016-07-06
2  2166529         7113       6928        200:20       5.0    2016-07-27
3  2166529         7113       1808        100:10       5.0    2016-07-27
4  6172162         7605       6500          30:1       2.0    2016-07-08

In [71]:
sample_df = pd.read_csv(DATA_PATH+SAMPLE_FILE)
sample_df['20160916'] = sample_df['20160916'].apply(int2datetime)
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
10000       13 non-null int64
20000       13 non-null int64
20160916    13 non-null object
0.8         13 non-null float64
dtypes: float64(1), int64(2), object(1)
memory usage: 544.0+ bytes

In [72]:
sample_df.head()

   10000  20000    20160916  0.8
0  10001  20000  2016-09-17  0.7
1  10000  20000  2016-09-19  0.6
2  10002  20000  2016-09-18  0.3
3  10003  20000  2016-09-16  0.5
4  10004  20000  2016-09-17  0.4