In [3]:
import pandas as pd
import numpy as np
import os
from datetime import date
import math
from pathlib import Path


DATA_PATH = Path(os.getcwd()).parent
TEST_FILE = r'data/raw/ccf_offline_stage1_test_revised.csv'
TRAIN_OFF_FILE = r'data/raw/ccf_offline_stage1_train.csv'
TRAIN_ON_FILE = r'data/raw/ccf_online_stage1_train.csv'
SAMPLE_FILE = r"data/raw/sample_submission.csv"


pd.set_option('display.max_rows', 900)

print(os.path.exists(DATA_PATH))
print(os.path.exists(DATA_PATH/TRAIN_OFF_FILE))
print(os.path.exists(DATA_PATH/TRAIN_ON_FILE))
print(os.path.exists(DATA_PATH/SAMPLE_FILE))

True
True
True
True

In [4]:
def int2datetime(x):
    if math.isnan(x):
        return x
    y = int(x/10000)
    m = int(x%10000/100)
    d = int(x%100)
    return date(y, m, d)
def convert_datetime(df):  
    df['Date_received'] = df['Date_received'].apply(int2datetime) 
    df['Date'] = df['Date'].apply(int2datetime)

In [5]:
offline_df = pd.read_csv(DATA_PATH/TRAIN_OFF_FILE)
convert_datetime(offline_df)
offline_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1754884 entries, 0 to 1754883
Data columns (total 7 columns):
User_id          int64
Merchant_id      int64
Coupon_id        float64
Discount_rate    object
Distance         float64
Date_received    object
Date             object
dtypes: float64(2), int64(2), object(3)
memory usage: 93.7+ MB

In [6]:
offline_df.head(20)

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
0,1439408,2632,NaN,NaN,0.0,NaN,2016-02-17
1,1439408,4663,11002.0,150:20,1.0,2016-05-28,NaN
2,1439408,2632,8591.0,20:1,0.0,2016-02-17,NaN
3,1439408,2632,1078.0,20:1,0.0,2016-03-19,NaN
4,1439408,2632,8591.0,20:1,0.0,2016-06-13,NaN
5,1439408,2632,NaN,NaN,0.0,NaN,2016-05-16
6,1439408,2632,8591.0,20:1,0.0,2016-05-16,2016-06-13
7,1832624,3381,7610.0,200:20,0.0,2016-04-29,NaN
8,2029232,3381,11951.0,200:20,1.0,2016-01-29,NaN
9,2029232,450,1532.0,30:5,0.0,2016-05-30,NaN
10,2029232,6459,12737.0,20:1,0.0,2016-05-19,NaN
11,2029232,6459,NaN,NaN,0.0,NaN,2016-06-26
12,2029232,6459,NaN,NaN,0.0,NaN,2016-05-19
13,2747744,6901,1097.0,50:10,NaN,2016-06-06,NaN
14,196342,1579,NaN,NaN,1.0,NaN,2016-06-06
15,196342,1579,10698.0,20:1,1.0,2016-06-06,NaN
16,2223968,3381,9776.0,10:5,2.0,2016-01-29,NaN
17,73611,2099,12034.0,100:10,NaN,2016-02-07,NaN
18,163606,1569,5054.0,200:30,10.0,2016-04-21,NaN
19,3273056,4833,7802.0,200:20,10.0,2016-01-30,NaN

In [7]:
online_df = pd.read_csv(DATA_PATH/TRAIN_ON_FILE)
convert_datetime(online_df)
online_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11429826 entries, 0 to 11429825
Data columns (total 7 columns):
User_id          int64
Merchant_id      int64
Action           int64
Coupon_id        object
Discount_rate    object
Date_received    object
Date             object
dtypes: int64(3), object(4)
memory usage: 610.4+ MB

In [8]:
online_df.head()

,User_id,Merchant_id,Action,Coupon_id,Discount_rate,Date_received,Date
0,13740231,18907,2,100017492,500:50,2016-05-13,NaN
1,13740231,34805,1,NaN,NaN,NaN,2016-03-21
2,14336199,18907,0,NaN,NaN,NaN,2016-06-18
3,14336199,18907,0,NaN,NaN,NaN,2016-06-18
4,14336199,18907,0,NaN,NaN,NaN,2016-06-18

In [9]:
test_df = pd.read_csv(DATA_PATH/TEST_FILE)
test_df['Date_received'] = test_df['Date_received'].apply(int2datetime)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113640 entries, 0 to 113639
Data columns (total 6 columns):
User_id          113640 non-null int64
Merchant_id      113640 non-null int64
Coupon_id        113640 non-null int64
Discount_rate    113640 non-null object
Distance         101576 non-null float64
Date_received    113640 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 5.2+ MB

In [10]:
test_df.head()

   User_id  Merchant_id  Coupon_id Discount_rate  Distance Date_received
0  4129537          450       9983          30:5       1.0    2016-07-12
1  6949378         1300       3429          30:5       NaN    2016-07-06
2  2166529         7113       6928        200:20       5.0    2016-07-27
3  2166529         7113       1808        100:10       5.0    2016-07-27
4  6172162         7605       6500          30:1       2.0    2016-07-08

In [11]:
sample_df = pd.read_csv(DATA_PATH/SAMPLE_FILE)
sample_df['20160916'] = sample_df['20160916'].apply(int2datetime)
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
10000       13 non-null int64
20000       13 non-null int64
20160916    13 non-null object
0.8         13 non-null float64
dtypes: float64(1), int64(2), object(1)
memory usage: 544.0+ bytes

In [12]:
sample_df.head()

   10000  20000    20160916  0.8
0  10001  20000  2016-09-17  0.7
1  10000  20000  2016-09-19  0.6
2  10002  20000  2016-09-18  0.3
3  10003  20000  2016-09-16  0.5
4  10004  20000  2016-09-17  0.4

## 1. data cleaning / transforming / spliting

In [13]:
neg_off_df = offline_df.loc[~offline_df['Coupon_id'].isnull() & offline_df['Date'].isnull()]
neg_off_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 977900 entries, 1 to 1754883
Data columns (total 7 columns):
User_id          977900 non-null int64
Merchant_id      977900 non-null int64
Coupon_id        977900 non-null float64
Discount_rate    977900 non-null object
Distance         880114 non-null float64
Date_received    977900 non-null object
Date             0 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 59.7+ MB

In [14]:
pos_off_df = offline_df.loc[~offline_df['Coupon_id'].isnull() & ~offline_df['Date'].isnull()]
pos_off_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75382 entries, 6 to 1754880
Data columns (total 7 columns):
User_id          75382 non-null int64
Merchant_id      75382 non-null int64
Coupon_id        75382 non-null float64
Discount_rate    75382 non-null object
Distance         67165 non-null float64
Date_received    75382 non-null object
Date             75382 non-null object
dtypes: float64(2), int64(2), object(3)
memory usage: 4.6+ MB

In [15]:
offline_df = offline_df.loc[~offline_df['Coupon_id'].isnull()]
offline_df['Coupon_id'] = offline_df['Coupon_id'].astype(int)
offline_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1053282 entries, 1 to 1754883
Data columns (total 7 columns):
User_id          1053282 non-null int64
Merchant_id      1053282 non-null int64
Coupon_id        1053282 non-null int64
Discount_rate    1053282 non-null object
Distance         947279 non-null float64
Date_received    1053282 non-null object
Date             75382 non-null object
dtypes: float64(1), int64(3), object(3)
memory usage: 64.3+ MB

In [16]:
pos_off_df.groupby(['Merchant_id','Coupon_id', 'User_id']).count()

                               Discount_rate  Distance  Date_received  Date
Merchant_id Coupon_id User_id
3           10458.0   2651418              1         1              1     1
4           1184.0    3931077              1         1              1     1
                      7083475              4         4              4     4
5           12598.0   3181453              1         0              1     1
                      4167683              1         1              1     1
...                                      ...       ...            ...   ...
8850        7204.0    4297164              1         1              1     1
                      6103141              1         1              1     1
8852        7411.0    7062489              1         0              1     1
8856        83.0      5502755              1         1              1     1
            5495.0    2645650              1         1              1     1

[56967 rows x 4 columns]

In [17]:
[offline_df[x].min() for x in ['Merchant_id', 'Coupon_id','User_id','Distance']]

[2, 1, 4, 0.0]

In [18]:
[offline_df[x].max() for x in ['Merchant_id', 'Coupon_id','User_id','Distance']]

[8856, 14045, 7361032, 10.0]

In [38]:
for df in [pos_off_df, neg_off_df]:
    print("df:")
    for col in df.columns:
        print(col)
        df.loc[df[col].isnull() , col] = -1
        nums = df.loc[df[col].isnull()]
        print("{}: {} nans.".format(col, nums.shape))
    df.head()

df:
User_id
User_id: (0, 7) nans.
Merchant_id
Merchant_id: (0, 7) nans.
Coupon_id
Coupon_id: (0, 7) nans.
Discount_rate
Discount_rate: (0, 7) nans.
Distance
Distance: (0, 7) nans.
Date_received
Date_received: (0, 7) nans.
Date
Date: (0, 7) nans.
df:
User_id
User_id: (0, 7) nans.
Merchant_id
Merchant_id: (0, 7) nans.
Coupon_id
Coupon_id: (0, 7) nans.
Discount_rate
Discount_rate: (0, 7) nans.
Distance
Distance: (0, 7) nans.
Date_received
Date_received: (0, 7) nans.
Date
Date: (0, 7) nans.

In [47]:
# timeout_df = pos_off_df.loc[(pos_off_df['Date'] - pos_off_df['Date_received']).apply(lambda x: return x.days) ]
(pos_off_df['Date'] - pos_off_df['Date_received']).apply(lambda x: x.days>15)

6           True
33         False
38         False
69         False
75          True
           ...
1754833    False
1754873    False
1754877    False
1754878    False
1754880     True
Length: 75382, dtype: bool